[user]
	email = scipunch@gmail.com
	name = scipunch

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
	line-numbers = true

[merge]
    conflictstyle = zdiff3

[alias]
	cm = commit -m
	ce = commit --amend --no-edit
	a = add -p
	po = push origin
	pom = push origin main
	main = !git checkout main && git pull origin
	s = status
	l = log --oneline
