@import "./base";

$lightgrey: #323232;
$darkgrey: #212121;
$grey: #100F10;
$fg: #FDFDFD;
$red: #FCABCF;
$flamingo: #2CA3ED;
$green: #44bc44;
$cyan: #6AE4B9;
$yellow: #C5976A;
$peach: #F07854;
$red: #F07854;
$purple: #B6A0FF;

.space {
    margin: 0 2px;
}

.icon {
    padding: 0;
    margin: 0;
}

.text {
    padding: 0;
    margin: 0;
}

.mpv_player {
    font-size: 12px;
    border-radius: 5px;
    background-color: $grey;
    padding: 0 5px;
}

.cpu_temp_alert {
    background-color: $yellow;
    border-radius: 5px;
    padding: 0 5px;
    color: $grey;
}

.notification {
    background-color: $green;
    color: $grey;
    padding: 0 5px;
    border-radius: 5px;
}

.fg-purple {
    color: $purple;
}

.fg-yellow {
    color: $yellow;
}

.fg-blue {
    color: $flamingo;
}

.fg-dark {
    color: $darkgrey;
}

.fg-light {
    color: $fg;
}

.fg-red {
    color: $red;
}

.fg-green {
    color: $green;
}

.fg-cyan {
    color: $cyan;
}

.bg-dark {
    background-color: $darkgrey;
}

.bg-yellow {
    background-color: $yellow;
}

.bg-cyan {
    background-color: $cyan;
}

.bg-cyan-07 {
    background-color: rgba($cyan, 0.7);
}

.bg-transparent {
    background-color: rgba(#100F10, 0.98);
}

.layout-box {
    background-color: rgba($darkgrey, 0.2);
    color: rgba($fg, 0.8);
}

.net-box,
.bat-box,
.tm-box {
    background-color: $grey;
    border-radius: 0.5em;
    padding: 0.4em 0.5em 0.4em 0.7em;
    label {
	font-size: 2em;
    }
}

.close-btn {
    font-size: 2em;
    &:hover {
	color: $red;
    }
}

.btns-box {
    font-size: 2.5em;
    padding: 0.3em;
    border-radius: 0.5em;

    button {
	border-radius: 0.3em;
	padding: 0.1em 0.8em 0.1em 0.5em;
	background-color: $grey;

	&:hover {
	    transition: 200ms linear background-color, border-radius;
	    background-color: rgba($lightgrey, 0.6);
	}

	&:first-child {
	    color: rgba($red, 0.8);
	}
    }
}
