auto-save/
auto-save-list/
bookmark-default.el
elfeed/
eln-cache/
elpaca/
esheel/
eww/
gnus/
org/
projectile/
projectile-bookmarks.eld
project-list.el
recentf
recentf-save.el
tldr/
tramp/
transient/
url/
tree-sitter/
eshell/history
projectile.cache
projects
emojis/
eshell/
.org-id-locations
