auto-save/
auto-save-list/
bookmark-default.el
elfeed/
eln-cache/
elpaca/
eww/
gnus/
org/
project-list.el
recentf
recentf-save.el
tldr/
tramp/
transient/
url/
tree-sitter/
eshell/history
eshell/lastdir
projects
emojis/
.org-id-locations
elpa/
request/
bookmarks
org-roam.db
elisp-autofmt-cache/
history
places
tramp
config.el