auto-save-list/
eshell/
eln-cache/
elpa/
history
package-quickstart.*/
places
projects/
tramp/
transient/
url/
tree-sitter/
package-quickstart*
projects
tramp
.cache/
.lsp-session-v1
lsp-tailwindcss/
forge-database.sqlite
bookmarks
